{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
  </head>

  <body>
    <div class="header-title">
      <h1><img src="{% static 'todo/suica.png' %}" alt="Suica" class="title-image" style="height:3.1rem; width:auto;">Sample To Do Application<img src="{% static 'todo/suica.png' %}" alt="Suica" class="title-image" style="height:3.1rem; width:auto;"></h1>
    </div>
    <p>You can submit tasks from the following form.</p>
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">Title</label><br>
        <input id="titleInput" name="title" type="text" placeholder="Input title">
      </div>
      <div>
        <label for="dueInput">Due at:</label><br>
        <input id="dueInput" name="due_at" type="datetime-local">
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
    <br>

    <h2>{{ year }}年 {{ month }}月</h2>

    <table class="calendar">
        <tr>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th>土</th>
            <th>日</th>
        </tr>

        {% for week in calendar %}
        <tr>
            {% for cell in week %}
            <td>
                {{ cell.day }}

                {% if cell.has_task %}
                    ☆
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <div>
      <a href="{% url 'index' %}?order=due">Sort by Due Date</a> |
      <a href="{% url 'index' %}?order=post">Sort by Posted Date</a>
    </div>

    {% for task in tasks %}
    <div class="text">
      <h2><a href="{% url 'detail' task.id %}">{{ task.title }}</a></h2>
      <ul>
        <li>Posted at: {{ task.posted_at }}</li>
        {% if task.due_at %} 
        <li>Due at: {{ task.due_at }}</li>
        {% endif %}
        {% if task.completed %} 
        <li>Status: Completed</li>
        {% else %}
        <li>Status: Not Completed</li>
        {% endif %}
      </ul>
    </div>
    {% endfor %}

    <div class="marquee" aria-label="moving kakigori">
      <img src="{% static 'todo/kakigori.png' %}" alt="Kakigori" class="moving-image">
    </div>

    <script src="{% static 'todo/marquee.js' %}"></script>
  </body>

</html>